<!DOCTYPE html>
<html>
   <head>
      <style>
         * {
            font-family:'Sans Serif';
         }
         a {
            color: #042F83;
         }
         ul {
            list-style-type: circle;
         }
         table, th, td {
            border: 1px solid gray;
            border-collapse: collapse;
         }
         th, td {
            padding: 15px;
            text-align: left;
         }
         pre code {
            background-color: #eee;
            border: 1px solid #999;
            display: block;
            padding: 20px;
         }
         .container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
         }
         .toc {
            flex-basis: auto;
            min-width: 500px;
            font-size: small;
         }
         .delimiter {
            flex-basis: auto;
            min-width: 20px;
         }
         .edge {
            flex-basis: auto;
            min-width: 100px;
         }
         .content {
            flex-grow: 10;
         }
         .sticky {
            position: sticky;
            top: 35px;
         }
         .active {
            border-radius: 10px;
            border: 1px solid #c8c8c8;
            padding: 10px;
            -webkit-box-shadow: 0px 0px 60px -26px #c8c8c8;
            -moz-box-shadow: 0px 0px 60px -26px #c8c8c8;
            box-shadow: 0px 0px 60px -26px #c8c8c8;
         }
         h1, h2, h3, h4, h5, h6 {
            color: #042F83
         }
         .subheader {
            color: #4866A0
         }
      </style>
      <title>[{{ solution.namespace }}] {{ solution.title }}</title>
   </head>
   <body>
      </div>
      <div class="container">
         <div class="edge">
         </div>
         <div class="toc">
            <div class="sticky">
               <b><a href="/">Table of contents</a></b>
               <ul>
                  {% if repo.remotes -%}
                  <li><a href="#source" onclick=activate('source')>Source</a></li>
                  {% endif %}
                  <li><a href="#responsible" onclick=activate('responsible')>Responsible</a></li>
                  <li><a href="#stakeholders" onclick=activate('stakeholders')>Stakeholders</a></li>
                  {% if solution.references -%}
                  <li><a href="#references" onclick=activate('references')>References</a></li>
                  {% endif %}
                  <li><a href="#rationale" onclick=activate('rationale')>Rationale</a></li>
                  {% if requirements -%}
                  <li>
                     <a href="#requirements" onclick=activate('requirements')>Requirements</a>
                     <ul>
                        {% for req in requirements %}
                           {% if req.is_container or req.status == 'approved' -%}
                              <li><a href="#req-{{req.tag}}" onclick=activate('req-{{req.tag}}')>{{req.deepness*'- '}}{{req.title}}</a></li>
                           {% else %}
                              <li><a href="#req-{{req.tag}}" onclick=activate('req-{{req.tag}}')>{{req.deepness*'- '}}[{{req.status}}] {{req.title}}</a></li>
                           {% endif %}
                        {% endfor -%}
                     </ul>
                  </li>
                  {% endif %}
                  {% if constraints -%}
                  <li>
                     <a href="#constraints" onclick=activate('constraints')>Constraints</a>
                     <ul>
                        {% for con in constraints %}
                           {% if con.is_container or con.status == 'approved' -%}
                              <li><a href="#con-{{con.tag}}" onclick=activate('con-{{con.tag}}')>{{con.deepness*'- '}}{{con.title}}</a></li>
                           {% else %}
                              <li><a href="#con-{{con.tag}}" onclick=activate('con-{{con.tag}}')>{{con.deepness*'- '}}[{{con.status}}] {{con.title}}</a></li>
                           {% endif %}
                        {% endfor -%}
                     </ul>
                  </li>
                  {% endif %}
                  {% if decisions -%}
                  <li>
                     <a href="#decisions" onclick=activate('decisions')>Architecture</a>
                     <ul>
                        {% for dec in decisions %}
                           {% if dec.is_container -%}
                           <li><a href="#dec-{{dec.tag}}" onclick=activate('dec-{{dec.tag}}')>{{dec.deepness*'- '}}{{dec.title}}</a></li>
                           {% else %}
                              <li><a href="#dec-{{dec.tag}}" onclick=activate('dec-{{dec.tag}}')>{{dec.deepness*'- '}}[{{dec.status}}] {{dec.title}}</a></li>
                           {% endif %}
                        {% endfor -%}
                     </ul>
                  </li>
                  {% endif %}
               </ul>
            </div>
            <div>
            </div>
         </div>
         <div class="delimiter">
         </div>
         <div class="content">
            <h1>[{{solution.namespace}}] {{solution.title}} ({{repo.branch}})</h1>
            {% if repo.remotes -%}
            <div id="source">
               <h2>Source</h2>
               <p>
                  <ul>
                     {% for (name, url) in repo.remotes -%}
                     <li>{{url}}</li>
                     {% endfor %}
                  </ul>
               </p>
            </div>
            {% endif %}
            <div id="responsible">
               <h2>Responsible</h2>
               <ul>
                  {% for person in solution.responsible -%}
                  <li>{{person}}</li>
                  {% endfor %}
               </ul>
            </div>
            {% if solution.stakeholders -%}
            <div id="stakeholders">
               <h2>Stakeholders</h2>
               <ul>
                  {% for person in solution.stakeholders -%}
                  <li>
                     {{person}}
                     <ul>
                        {% for dec in solution['associated_decisions'][person] -%}
                        <li>
                           <a href="#dec-{{dec.tag}}" onclick=activate('dec-{{dec.tag}}')>{{dec.title}}</a>
                        </li>
                        {% endfor %}
                     </ul>
                  </li>
                  {% endfor %}
               </ul>
            </div>
            {% endif %}
            {% if solution.reviewers -%}
            <div id="reviewers">
               <h2>Quality control</h2>
               <ul>
                  {% for person in solution.reviewers -%}
                  <li>
                     {{person}}
                  </li>
                  {% endfor %}
               </ul>
            </div>
            {% endif %}
            {% if solution.glossary %}
            <div id="references">
               <h2>Glossary</h2>
               <table>
                  <tr>
                    <th>Term</th>
                    <th>Explanation</th>
                  </tr>
                  {% for (term, explanation) in solution.glossary.items() -%}
                  <tr>
                     <td>{{term}}</td>
                     <td>{{explanation}}</td>
                  </tr>
                  {% endfor %}
               </table>
            </div>
            <p></p>
            {% endif %}
            {% if solution.references %}
            <div id="references">
               <h2>References</h2>
               <table>
                  <tr>
                    <th>Name</th>
                    <th>Reference</th>
                  </tr>
                  {% for (name, url) in solution.references.items() -%}
                  <tr>
                     <td>{{name}}</td>
                     <td><a href="{{url}}" target="_blank">{{url}}</a></td>
                  </tr>
                  {% endfor %}
               </table>
            </div>
            <p></p>
            {% endif %}
            <div id="rationale">
               <h2>Rationale</h2>
               {{solution.description}}
            </div>
            {% if requirements -%}
            <div id="requirements">
               <h2>Requirements</h2>
               {% for req in requirements %}
               <div id="req-{{req.tag}}">
                  {% if req.is_container or req.status == 'approved' -%}
                     <h{{req.deepness+2}}>{{req.title}}</h{{req.deepness+2}}>
                  {% else %}
                     <h{{req.deepness+2}}>[{{req.status}}] {{req.title}}</h{{req.deepness+2}}>
                  {% endif %}
                  {% if req.rejected %}
                     <p>
                        <b>REASON OF REJECTION:</b>
                        <p>{{ req.rejected }}</p>
                     </p>
                  {% endif %}
                  {% if req.stakeholders %}
                     <b class=subheader>Stakeholders:</b>
                     <ul>
                        {% for person in req.stakeholders -%}
                        <li>{{person}}</li>
                        {% endfor -%}
                     </ul>
                  {% endif %}
                  {% if req.decision -%}
                  <b class=subheader>Satisfied by decision:</b>
                  <ul>
                     {% for dec in req.decision -%}
                     <li><a href="#dec-{{dec.tag}}" onclick=activate('dec-{{dec.tag}}')>{{dec.title}}</a></li>
                     {% endfor %}
                  </ul>
                  {% endif %}
                  {% if req.rationale %}
                     <b class=subheader>Rationale:</b>
                     {{req.rationale}}
                  {% endif %}

                  {% if req.description %}
                     <b class=subheader>Description:</b>
                     {{req.description}}
                  {% endif %}

                  {% if req.verification %}
                     <b class=subheader>Verification:</b>
                     {{req.verification}}
                  {% endif %}
               </div>
               {% endfor %}
            </div>
            {% endif %}

            {% if constraints -%}
            <div id="constraints">
               <h2>Constraints</h2>
               {% for con in constraints %}
               <div id="con-{{con.tag}}">
                  {% if con.is_container or con.status == 'approved' -%}
                     <h{{con.deepness+2}}>{{con.title}}</h{{con.deepness+2}}>
                  {% else %}
                     <h{{con.deepness+2}}>[{{con.status}}] {{con.title}}</h{{con.deepness+2}}>
                  {% endif %}
                  {% if con.rejected %}
                     <p>
                        <b>REASON OF REJECTION:</b>
                        <p>{{ con.rejected }}</p>
                     </p>
                  {% endif %}
                  {% if con.stakeholders %}
                     <b class=subheader>Stakeholders:</b>
                     <ul>
                        {% for person in con.stakeholders -%}
                        <li>{{person}}</li>
                        {% endfor -%}
                     </ul>
                  {% endif %}

                  {% if con.description %}
                     <b class=subheader>Description:</b>
                     {{con.description}}
                  {% endif %}

               </div>
               {% endfor %}
            </div>
            {% endif %}

            {% if decisions -%}
            <div id="decisions">
               <h2>Architecture</h2>
               {% for dec in decisions %}
               <div id="dec-{{dec.tag}}">
                  {% if dec.is_container or dec.status == 'approved' -%}
                     <h{{dec.deepness+2}}>{{dec.title}}</h{{dec.deepness+2}}>
                  {% else %}
                     <h{{dec.deepness+2}}>[{{dec.status}}] {{dec.title}}</h{{dec.deepness+2}}>
                  {% endif %}
                  {% if dec.rejected %}
                     <p>
                        <b>REASON OF REJECTION:</b>
                        <p>{{ dec.rejected }}</p>
                     </p>
                  {% endif %}
                  {% if dec.stakeholders -%}
                  <b class=subheader>Stakeholders:</b>
                  <ul>
                     {% for stakeholder in dec.stakeholders -%}
                     <li>{{stakeholder}}</li>
                     {% endfor %}
                  </ul>
                  {% endif %}
                  {% if dec.requirements -%}
                     <b class=subheader>Satisfied requirements:</b>
                     <ul>
                        {% for req in dec.requirements -%}
                        <li><a href="#req-{{req.tag}}" onclick=activate('req-{{req.tag}}')>{{req.title}}</a></li>
                        {% endfor %}
                     </ul>
                  {% endif %}
                  {% if dec.diagram %}
                     <img src="Dec.{{dec.tag}}.png" alt="{{dec.tag}}">
                  {% endif %}

                  {% if dec.description %}
                     <p>
                        <b class=subheader>Description:</b>
                        {{dec.description }}
                     </p>
                  {% endif %}

                  {% if dec.implementation %}
                     <p>
                        <b class=subheader>Implementation:</b>
                        {{dec.implementation }}
                     </p>
                  {% endif %}

                  {% if dec.estimation %}
                     <p>
                        <b class=subheader>Estimation:</b>
                        {{dec.estimation }}
                     </p>
                  {% endif %}
               </div>
               {% endfor %}
            </div>
            {% endif %}
         </div>
         <div class="edge">
         </div>
      </div>
      <script>
         function deactivate() {
            if (active_tag != null) {
               document.getElementById(active_tag).classList.remove('active');
            }
         }
         function activate(tag) {
            deactivate()
            target = document.getElementById(tag).classList.add('active');
            active_tag = tag
         };
         let active_tag = null;
         let hash = window.location.hash
         if (hash) {
            activate(hash.slice(1))
         }
      </script>
   </body>
</html>